.ant-layout-header {
    height: 50px !important;
}

.ant-layout-footer {
    color: #586069 !important;
    font-size: 14px;
    text-align: center;
    padding: 14px 0px;
}

#components-layout-demo-top-side .top-menu[data-v-7ba5bd90] {
    line-height: 50px;
    position: absolute;
    left: 250px;
}

.ant-advanced-search-form {
    padding: 12px !important;
    background: @searchform-bgcolor;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    .ant-form-item {
        display: flex;
    }
    .ant-form-item-control-wrapper {
        flex: 1;
    }
}

#components-form-demo-advanced-search {
    .ant-form {
        max-width: none;
    }
    .search-result-list {
        margin-top: 16px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        min-height: 200px;
        text-align: center;
        padding-top: 80px;
    }
}
